
<div class="modal fade" id="<%-modal_course_dialog_id%>" tabindex="-1" role="dialog" aria-labelledby="<%-modal_course_dialog_id%>_label" aria-hidden="true">
    <div class="modal-dialog">
        <form class="form-horizontal" action="/courses" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="<%=_('Close')%>"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="<%-modal_course_dialog_id%>_label"><%-modal_course_dialog_title%></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="<%-modal_course_dialog_id%>_name" class="col-sm-2 control-label"><%=_('Name')%></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="<%-modal_course_dialog_id%>_name" placeholder="<%=_('Name')%>" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="<%-modal_course_dialog_id%>_state" class="col-sm-2 control-label"><%=_('State')%></label>
                        <div class="col-sm-10">
                            <select id="<%-modal_course_dialog_id%>_state" class="form-control" name="state">
                              <option value="draft"><%=_('Draft')%></option>
                              <option value="review"><%=_('Review')%></option>
                              <option value="published"><%=_('Published')%></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="<%-modal_course_dialog_id%>_date" class="col-sm-2 control-label"><%=_('Start')%></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="<%-modal_course_dialog_id%>_date" placeholder="<%=_('Start Date')%>" name="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="<%-modal_course_dialog_id%>_teachers" class="col-sm-2 control-label"><%=_('Teachers')%></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control user-input" id="<%-modal_course_dialog_id%>_teachers" placeholder="<%=_('Enter Teachers')%>" name="teachers">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="<%-modal_course_dialog_id%>_infolink" class="col-sm-2 control-label"><%=_('Info Link')%></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="<%-modal_course_dialog_id%>_infolink" placeholder="<%=_('Enter Info Link')%>" name="infolink">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="<%-modal_course_dialog_id%>_imglink" class="col-sm-2 control-label"><%=_('Image Link')%></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="<%-modal_course_dialog_id%>_imglink" placeholder="<%=_('Enter Image Link')%>" name="imglink">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="<%-modal_course_dialog_id%>_description" class="col-sm-2 control-label"><%=_('Description')%></label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="<%-modal_course_dialog_id%>_description" placeholder="<%=_('Enter Description')%>" rows="3" name="description"></textarea>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <div class="panel-title pull-left" style="padding-top: 0.4em;">
                                <%=_('Participants')%>
                            </div>
                            <div class="btn-group pull-right">
                                <a  href="#"
                                    class="btn btn-default btn-add-participant"
                                    data-add-source="<%-modal_course_dialog_id%>_new_participant"
                                    data-add-target="<%-modal_course_dialog_id%>_participant_table"
                                    data-list-target="<%-modal_course_dialog_id%>_participants_list"
                                    title="<%=_('Add Participants')%>"><span class="fa fa-plus"></span></a>
                            </div>
                            <div class="btn-group pull-right">
                                <input type="text" class="form-control user-input" id="<%-modal_course_dialog_id%>_new_participant" placeholder="<%=_('Enter Participant')%>" style="min-width: 100px;">
                            </div>
                        </div>

                        <input type="hidden" id="<%-modal_course_dialog_id%>_participants_list" name="participants"/>

                        <table class="table table-striped" id="<%-modal_course_dialog_id%>_participant_table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th><%=_('Name')%></th>
                                    <th><%=_('Function')%></th>
                                </tr>
                            </thead>

                            <tbody style="height: 300px; overflow: auto;"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><%=_('Cancel')%></button>
                    <button type="submit" class="btn btn-primary" id="<%-modal_course_dialog_id%>_submit"><%-modal_course_dialog_submit_label%></button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
