<%
    var userDict = {};
    for (var i=0; i<users.length; i++) {
        userDict[users[i]._id] = users[i];
    }
%>


<%- contentFor('title') %>

<h1><span class="fa fa-archive"></span> Courses</h1>

<%- contentFor('body') %>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="panel-title pull-left" style="padding-top: 0.4em;">
            Courses
        </div>
        <% if (user.admin) { %>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary btn-sm navbar-right" data-toggle="modal" data-target="#create_course_modal" title="Create a new Course">
                    <span class="fa fa-plus"> Add Course</span>
                </button>
            </div>
        <% } %>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Teachers</th>
                <th>Date</th>
                <th>Participants</th>
                <th>Function</th>
            </tr>
        </thead>

<% for (var i=0; i<courses.length; i++) { %>
        <tr>
            <td><%- i + 1 %></td>
            <td><%- courses[i].name %></td>
            <td><%- courses[i].teachers.map(function(p){ return userDict[p].local.name; }).join(', ') %></td>
            <td><%- courses[i].dates %></td>
            <td><%- courses[i].participants.map(function(p){ return userDict[p].name; }) %></td>
            <td>
                <div class="btn-toolbar" role="toolbar" aria-label="course controls">
                    <% if (user.admin) { %>
                        <div class="btn-group" role="group">
                            <button role="button" class="btn btn-default btn-edit-course" data-course-id="<%-courses[i]._id%>" title="Edit Course"><span class="fa fa-pencil"></span></a>
                            <button role="button" class="btn btn-default btn-delete-course" data-course-id="<%-courses[i]._id%>" title="Delete Course"><span class="fa fa-trash-o"></span></a>
                            <button role="button" class="btn btn-default btn-mail-course" data-course-id="<%-courses[i]._id%>" title="Send Mail to Participants"><span class="fa fa-envelope-o"></span></a>
                        </div>
                    <% } %>
                    <div class="btn-group" role="group">
                        <button role="button" class="btn btn-default btn-show-course" data-course-id="<%-courses[i]._id%>" title="Show Course Info"><span class="fa fa-info-circle"></span></a>
                        <button role="button" class="btn btn-default btn-participate-course" data-course-id="<%-courses[i]._id%>" title="Participate"><span class="fa fa-check-square-o"></span></a>
                    </div>
                </div>
            </td>
        </tr>
<% } %>
    </table>
</div>

<% modal_course_dialog_title = 'Create Course' %>
<% modal_course_dialog_id = 'create_course_modal' %>
<% modal_course_dialog_submit_label = 'Create' %>
<% include partials/modal_course_dialog %>

<% modal_course_dialog_title = 'Edit Course' %>
<% modal_course_dialog_id = 'edit_course_modal' %>
<% modal_course_dialog_submit_label = 'Save Changes' %>
<% include partials/modal_course_dialog %>

<% mail_modal_title = 'Send Mail to Course Participants' %>
<% mail_modal_id = 'mail_modal' %>
<% include partials/mail_modal %>

<%- contentFor('style') %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="bower_components/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.css">
<link rel="stylesheet" href="bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.css">


<%- contentFor('script') %>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="bower_components/bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js"></script>
<script src="bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js"></script>


<script type="text/javascript">
    $('.user-input').tokenfield({
        autocomplete: {
            source: [
<% for (var i=0; i<users.length; i++) { %>
    { value: '<%- users[i].id %>', label: '<%- users[i].local.name %>' },
<% } %>
            ],
            delay: 100,
            open: function() {
                $(this).autocomplete('widget').css('z-index', 9055);
                return false;
            }
        }
    });

    $('.btn-delete-course').click(function() {
        $.ajax('/courses/' + $(this).data('course-id'), {
            method: 'delete',
            success: function() {
                window.location = "/courses"; 
            },
            error: function() {
                alert("failed to delete course");
            }
        });
    });

    $('.btn-edit-course').click(function() {
        var row = $(this).parents('tr').children();
        var id = $(this).data('user-id');
        var name = row[1].innerHTML;
        var teachers = row[2].innerHTML.split(', ');
        var date = row[3].innerHTML;
        var participants = $(row[3]).data('participants');
        $('#edit_course_modal_name').val(name);
        $('#edit_course_modal_teachers').val(teachers);
        $('#edit_course_modal_date').val(date);
        $('#edit_course_modal_participants').val(participants);

        $('#edit_course_modal').modal();

        $('#edit_course_modal_submit').click(function(e) {
            e.preventDefault();
            $.ajax('/users/' + id, {
                method: 'put',
                data: {
                    name:  $('#edit_course_modal_name').val(),
                    email: $('#edit_course_modal_email').val(),
                    admin:  $('#edit_course_modal_admin').bootstrapSwitch('state')
                },
                success: function() {
                    window.location = "/courses";
                },
                error: function() {
                    alert("failed to update course");
                }
            });

        });
    });
    
    $('.btn-mail-course').click(function() {
        $('#mail_modal').modal();
    });
    
    $(function() {
        $('#mail_modal_text').wysihtml5();
    });
</script>

