<%
    var userDict = {};
    for (var i=0; i<users.length; i++) {
        userDict[users[i]._id] = users[i];
    }
%>


<%- contentFor('title') %>

<h1><span class="fa fa-archive"></span> Courses</h1>

<%- contentFor('body') %>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="panel-title pull-left" style="padding-top: 0.4em;">
            Courses
        </div>
        <% if (user.admin) { %>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary btn-sm navbar-right" data-toggle="modal" data-target="#create_course_modal" title="Create a new Course">
                    <span class="fa fa-plus"> Add Course</span>
                </button>
            </div>
        <% } %>
    </div>

    <table class="table table-striped table-hover table-courses">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Teachers</th>
                <th>Date</th>
                <th>Participants</th>
                <th>Function</th>
            </tr>
        </thead>

<% for (var i=0; i<courses.length; i++) { %>
        <tr>
            <td><%- i + 1 %></td>
            <td>
                <% if (user.admin) { %>
                    <a href="#" class="btn-edit-course" data-course-id="<%-courses[i]._id%>" title="Edit Course">
                <% } else { %>
                    <a href="<%- courses[i].infolink %>" class="btn-show-course" data-course-id="<%-courses[i]._id%>" title="Show Course Info">
                <% } %>
                    <%- courses[i].name %>
                </a>
            </td>
            <td><%- courses[i].teachers.map(function(p){ return userDict[p] ? userDict[p].getName() : ""; }).join(', ') %></td>
            <td><%- courses[i].dates %></td>
            <td><%- courses[i].participants.map(function(p){ return userDict[p].getName(); }) %></td>
            <td>
                <div class="btn-toolbar" role="toolbar" aria-label="course controls">
                    <% if (user.admin) { %>
                        <div class="btn-group" role="group">
                            <button role="button" class="btn btn-default btn-edit-course" data-course-id="<%-courses[i]._id%>" title="Edit Course"><span class="fa fa-pencil"></span></button>
                            <button role="button" class="btn btn-default btn-delete-course" data-course-id="<%-courses[i]._id%>" title="Delete Course"><span class="fa fa-trash-o"></span></button>
                            <button role="button" class="btn btn-default btn-mail-course" data-course-id="<%-courses[i]._id%>" title="Send Mail to Participants"><span class="fa fa-envelope-o"></span></button>
                        </div>
                    <% } %>
                    <div class="btn-group" role="group">
                        <a href="<%- courses[i].infolink %>" role="button" class="btn btn-default btn-show-course" data-course-id="<%-courses[i]._id%>" title="Show Course Info"><span class="fa fa-info-circle"></span></a>
                        <% if (courses[i].participants.indexOf(user.id) == -1) { %>
                            <button role="button" class="btn btn-default btn-participate-course" data-course-id="<%-courses[i]._id%>" title="I want to Participate!"><span class="fa fa-square-o"></span></button>
                        <% } else { %>
                            <button role="button" class="btn btn-default btn-not-participate-course" data-course-id="<%-courses[i]._id%>" title="I don't want to Participate anymore!">
                                <span class="fa fa-check-square-o"></span>
                            </button>
                        <% } %>
                    </div>
                </div>
            </td>
        </tr>
<% } %>
    </table>
</div>

<% modal_course_dialog_title = 'Create Course' %>
<% modal_course_dialog_id = 'create_course_modal' %>
<% modal_course_dialog_submit_label = 'Create' %>
<% include partials/modal_course_dialog %>

<% modal_course_dialog_title = 'Edit Course' %>
<% modal_course_dialog_id = 'edit_course_modal' %>
<% modal_course_dialog_submit_label = 'Save Changes' %>
<% include partials/modal_course_dialog %>

<% mail_modal_title = 'Send Mail to Course Participants' %>
<% mail_modal_id = 'mail_modal' %>
<% include partials/mail_modal %>

<%- contentFor('style') %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="bower_components/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.css">
<link rel="stylesheet" href="bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.css">


<%- contentFor('script') %>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="bower_components/bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js"></script>
<script src="bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js"></script>

<% include partials/wait_dialog %>


<script type="text/javascript">
    var current_user_id = '<%- user.id %>';
	var users = {
		<% for (var i=0; i<users.length; i++) { %>
		    '<%- users[i].id %>': '<%- users[i].getName() %>',
		<% } %>
    };

    $('.user-input').tokenfield({
        autocomplete: {
            source: $.map(users, function(value, key) { return { value: key, label: value }}),
            delay: 100,
            open: function() {
                $(this).autocomplete('widget').css('z-index', 9055);
                return false;
            }
        }
    });

    $('.btn-delete-course').click(function() {
        var row = $(this).parents('tr').children();
        var name = row[1].innerHTML;
    	var res = confirm("Are you sure you want to delete course '" + name + "'?");
    	if (res) {
            waitDialog.show();

	        $.ajax('/courses/' + $(this).data('course-id'), {
	            method: 'delete',
	            success: function() {
	                window.location = "/courses";
	            },
	            error: function() {
                    waitDialog.hide();

	                alert("failed to delete course");
	            }
	        });
	    }
    });

    $('.btn-edit-course').click(function() {
        var row = $(this).parents('tr').children();
        var id = $(this).data('course-id');

        waitDialog.show();

        $.ajax('/courses/' + id, {
            dataType: 'json',
        	error: function() {
                waitDialog.hide();

        		alert("failed to load course");
        	},
        	success: function(course) {
        		var teachers = course.teachers
        			.filter(function(id) { return users[id]; })
        			.map(function(id) { return { value: id, label: users[id]}; });

        		var participants = course.participants
        			.filter(function(id) { return users[id]; })
        			.map(function(id) { return { value: id, label: users[id]}; });

		        $('#edit_course_modal_name').val(course.name);
		        $('#edit_course_modal_teachers').val(course.teachers);
		        $('#edit_course_modal_teachers').tokenfield('setTokens', teachers);
		        $('#edit_course_modal_description').val(course.description);
		        $('#edit_course_modal_date').val(course.date);

		        $('#edit_course_modal_participant_table').data('participants', []);
		        var table = $('#edit_course_modal_participant_table');
		        addParticipant(table, participants);

        		$('#edit_course_modal').data('current-id', id);

                waitDialog.hide();
		        $('#edit_course_modal').modal();
        	}
        });

    });

    $('#edit_course_modal_submit').click(function(e) {
        e.preventDefault();

        waitDialog.show();

        var id = $('#edit_course_modal').data('current-id');
        $.ajax('/courses/' + id, {
            method: 'PUT',
            data: {
                name:  $('#edit_course_modal_name').val(),
                teachers: $('#edit_course_modal_teachers').val(),
                date: $('#edit_course_modal_date').val(),
                description: $('#edit_course_modal_description').val(),
                participants: $('#edit_course_modal_participant_table').data('participants').join(',')
            },
            success: function() {
                window.location = "/courses";
            },
            error: function() {
                waitDialog.hide();

                alert("failed to update course");
            }
        });

    });

    $('.btn-add-participant').click(function(e) {
        e.preventDefault();

        var sourceField = $('#' + $(this).data('add-source'));

        var newParticipants = sourceField.tokenfield('getTokens');

        var table = $('#' + $(this).data('add-target'));
        addParticipant(table, newParticipants);
        sourceField.tokenfield('setTokens', []);
    });

	function addParticipant(table, newParticipants) {
        var tbody = table.children('tbody');
		var participants = table.data('participants');

        for (var i=0; i<newParticipants.length; i++) {
        	var participant = newParticipants[i];
            var row = $('<tr></tr>');

            var id = participant.value;
            var name = participant.label;

            row.append($('<td>' + participants.length + '</td>'));
            row.append($('<td>' + name + '</td>'));
            row.data('id', id);
            row.append($('<td><button role="button" class="btn btn-default btn-remove-participant" data-participant-id="' + id + '" title="Remove Participant"><span class="fa fa-trash-o"></span></button></td>'));

            tbody.append(row);
            participants.push(id);
        }

        table.data('participants', participants);
	}

	$('.modal-dialog').on('click', '.btn-remove-participant', function(e) {
        e.preventDefault();

		var table = $(this).parents('table');
		var participants = table.data('participants');
		var index = participants.indexOf($(this).data('participant-id'));
		if (index >= 0) {
			participants.splice(index, 1);
		}

		$(this).parents('tr').remove();
	});

    $('.btn-mail-course').click(function() {
        $('#mail_modal').modal();
    });

    $('.btn-participate-course').click(function(e) {
        var id = $(this).data('course-id');

        waitDialog.show();

        $.ajax('/courses/' + id + '/participants', {
            method: 'POST',
            data: {
                participant: current_user_id
            },
            success: function() {
                window.location = "/courses";
            },
            error: function() {
                waitDialog.hide();

                alert("failed to update course");
            }
        });
    });

    $('.btn-not-participate-course').click(function(e) {
        var id = $(this).data('course-id');

        waitDialog.show();

        $.ajax('/courses/' + id + '/participants', {
            method: 'DELETE',
            data: {
                participant: current_user_id
            },
            success: function() {
                window.location = "/courses";
            },
            error: function() {
                waitDialog.hide();

                alert("failed to update course");
            }
        });
    });

    $(function() {
        $('#mail_modal_text').wysihtml5();

        $("a.btn-show-course[href='']").attr('disabled', true);
    });
</script>

<% include partials/script_create_curse_modal %>
