<%
    var userDict = {};
    for (var i=0; i<users.length; i++) {
        userDict[users[i]._id] = users[i];
    }
%>


<%- contentFor('title') %>

<h1><span class="fa fa-archive"></span> <%=_('Courses')%></h1>

<%- contentFor('body') %>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="panel-title pull-left" style="padding-top: 0.4em;">
            <%=_('Courses')%>
        </div>
        <% if (user.admin) { %>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary btn-sm navbar-right" data-toggle="modal" data-target="#create_course_modal" title="<%=_('Create a new Course')%>">
                    <span class="fa fa-plus"> <%=_('Add Course')%></span>
                </button>
            </div>
        <% } %>
    </div>

    <table class="table table-striped table-hover table-courses">
        <thead>
            <tr>
                <th>#</th>
                <th><%=_('Name')%></th>
                <th><%=_('Teachers')%></th>
                <th><%=_('Date')%></th>
                <th><%=_('Participants')%></th>
                <th><%=_('Function')%></th>
            </tr>
        </thead>

<% for (var i=0; i<courses.length; i++) { %>
        <tr>
            <td><%- i + 1 %></td>
            <td>
                <% if (user.admin) { %>
                    <a href="#" class="btn-edit-course" data-course-id="<%-courses[i]._id%>" title="Edit Course"><%- courses[i].name %></a>
                <% } else { %>
                    <a href="<%- courses[i].infolink %>" target="_blank" class="btn-show-course" data-course-id="<%-courses[i]._id%>" title="Show Course Info"><%- courses[i].name %></a>
                <% } %>
            </td>
            <td><%- courses[i].teachers.map(function(p){ return userDict[p] ? userDict[p].getName() : ""; }).join(', ') %></td>
            <td><%- courses[i].date %></td>
            <td><%- courses[i].participants.map(function(p){ return userDict[p] ? userDict[p].getName() : ""; }) %></td>
            <td>
                <div class="btn-toolbar" role="toolbar" aria-label="course controls">
                    <% if (user.admin) { %>
                        <div class="btn-group" role="group">
                            <% /* Edit Course */ %>
                            <button role="button" class="btn btn-default btn-edit-course" data-course-id="<%-courses[i]._id%>" data-toggle="tooltip" data-placement="top" title="<%=_('Edit Course')%>"><span class="fa fa-pencil"></span></button>
                            <% /* Delete Course */ %>
                            <button role="button" class="btn btn-default btn-delete-course" data-course-id="<%-courses[i]._id%>" data-toggle="tooltip" data-placement="top" title="<%=_('Delete Course')%>"><span class="fa fa-trash-o"></span></button>
                            <% /* Send Mail to Course */ %>
                            <button role="button" class="btn btn-default btn-mail-course" data-course-id="<%-courses[i]._id%>" data-toggle="tooltip" data-placement="top" data-number-participants="<%-courses[i].participants.length%>" title="<%=_('Send Mail to Participants')%>"><span class="fa fa-envelope-o"></span></button>
                        </div>
                    <% } %>
                    <div class="btn-group" role="group">
                        <a href="<%- courses[i].infolink %>" target="_blank" role="button" class="btn btn-default btn-show-course" data-course-id="<%-courses[i]._id%>" data-toggle="tooltip" data-placement="top" title="<%=_('Show Course Info')%>"><span class="fa fa-info-circle"></span></a>
                        <% if (courses[i].participants.indexOf(user.id) == -1) { %>
                            <button role="button" class="btn btn-default btn-participate-course" data-course-id="<%-courses[i]._id%>" data-toggle="tooltip" data-placement="top" title="<%=_('I want to Participate!')%>"><span class="fa fa-square-o"></span></button>
                        <% } else { %>
                            <button role="button" class="btn btn-default btn-not-participate-course" data-course-id="<%-courses[i]._id%>" data-toggle="tooltip" data-placement="top" title="<%=_('I don\'t want to Participate anymore!')%>">
                                <span class="fa fa-check-square-o"></span>
                            </button>
                        <% } %>
                    </div>
                </div>
            </td>
        </tr>
<% } %>
    </table>
</div>

<% modal_course_dialog_title = _('Create Course') %>
<% modal_course_dialog_id = 'create_course_modal' %>
<% modal_course_dialog_submit_label = _('Create') %>
<% include partials/modal_course_dialog %>

<% modal_course_dialog_title = _('Edit Course') %>
<% modal_course_dialog_id = 'edit_course_modal' %>
<% modal_course_dialog_submit_label = _('Save Changes') %>
<% include partials/modal_course_dialog %>

<% mail_modal_title = _('Send Mail to Course Participants') %>
<% mail_modal_id = 'mail_modal' %>
<% include partials/mail_modal %>


<%- contentFor('script') %>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="bower_components/bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js"></script>
<script src="bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js"></script>

<% include partials/wait_dialog %>


<script type="text/javascript">
    var current_user_id = '<%- user.id %>';
    var users = {
        <% for (var i=0; i<users.length; i++) { %>
            '<%- users[i].id %>': '<%- users[i].getName() %>',
        <% } %>
    };

    $('.user-input').tokenfield({
        autocomplete: {
            source: $.map(users, function(value, key) { return { value: key, label: value }}),
            delay: 100,
            open: function() {
                $(this).autocomplete('widget').css('z-index', 9055);
                return false;
            }
        }
    });

    $('.btn-delete-course').click(function() {
        var row = $(this).parents('tr').children();
        var name = row[1].innerHTML;
        var res = confirm("Are you sure you want to delete course '" + name + "'?");
        if (res) {
            waitDialog.show();

            $.ajax('/courses/' + $(this).data('course-id'), {
                method: 'delete',
                success: function() {
                    window.location = "/courses";
                },
                error: function() {
                    waitDialog.hide();

                    alert("failed to delete course");
                }
            });
        }
    });

    $('.btn-edit-course').click(function() {
        var row = $(this).parents('tr').children();
        var id = $(this).data('course-id');

        waitDialog.show();

        $.ajax('/courses/' + id, {
            dataType: 'json',
            error: function(err) {
                console.error(error);
                waitDialog.hide();

                alert("failed to load course");
            },
            success: function(course) {
                var teachers = course.teachers
                    .filter(function(id) { return users[id]; })
                    .map(function(id) { return { value: id, label: users[id]}; });

                var participants = course.participants
                    .filter(function(id) { return users[id]; })
                    .map(function(id) { return { value: id, label: users[id]}; });

                $('#edit_course_modal_name').val(course.name);
                $('#edit_course_modal_teachers').val(course.teachers);
                $('#edit_course_modal_teachers').tokenfield('setTokens', teachers);
                $('#edit_course_modal_description').val(course.description);
                $('#edit_course_modal_date').val(course.date);
                $('#edit_course_modal_infolink').val(course.infolink);
                $('#edit_course_modal_imglink').val(course.imglink);
                $('#edit_course_modal_state').val(course.state);

                $('#edit_course_modal_participant_table').data('participants', []);
                var table = $('#edit_course_modal_participant_table');
                var listField = $('#edit_course_modal_participants_list');
                addParticipant(table, participants, listField);

                $('#edit_course_modal').data('current-id', id);

                waitDialog.hide();
                $('#edit_course_modal').modal();
            }
        });

    });

    $('#edit_course_modal_submit').click(function(e) {
        e.preventDefault();

        waitDialog.show();

        var id = $('#edit_course_modal').data('current-id');
        $.ajax('/courses/' + id, {
            method: 'PUT',
            data: {
                name:  $('#edit_course_modal_name').val(),
                teachers: $('#edit_course_modal_teachers').val(),
                date: $('#edit_course_modal_date').val(),
                doodle: '',
                state: $('#edit_course_modal_state').val(),
                infolink: $('#edit_course_modal_infolink').val(),
                imglink: $('#edit_course_modal_imglink').val(),
                description: $('#edit_course_modal_description').val(),
                participants: $('#edit_course_modal_participant_table').data('participants').join(',')
            },
            success: function() {
                window.location = "/courses";
            },
            error: function() {
                waitDialog.hide();

                alert("failed to update course");
            }
        });

    });

    $('.btn-add-participant').click(function(e) {
        e.preventDefault();

        var sourceField = $('#' + $(this).data('add-source'));
        var listField = $('#' + $(this).data('list-target'));

        var newParticipants = sourceField.tokenfield('getTokens');

        var table = $('#' + $(this).data('add-target'));
        addParticipant(table, newParticipants, listField);
        sourceField.tokenfield('setTokens', []);
    });

    function addParticipant(table, newParticipants, listField) {
        var tbody = table.children('tbody');
        var participants = table.data('participants') || [];

        for (var i=0; i<newParticipants.length; i++) {
            var participant = newParticipants[i];
            var row = $('<tr></tr>');

            var id = participant.value;
            var name = participant.label;

            row.append($('<td>' + participants.length + '</td>'));
            row.append($('<td>' + name + '</td>'));
            row.data('id', id);
            row.append($('<td><button role="button" class="btn btn-default btn-remove-participant" data-participant-id="' + id + '" title="Remove Participant"><span class="fa fa-trash-o"></span></button></td>'));

            tbody.append(row);
            participants.push(id);
        }

        table.data('participants', participants);
        listField.val(participants.join(","));
    }

    $('.modal-dialog').on('click', '.btn-remove-participant', function(e) {
        e.preventDefault();

        var table = $(this).parents('table');
        var participants = table.data('participants');
        var index = participants.indexOf($(this).data('participant-id'));
        if (index >= 0) {
            participants.splice(index, 1);
        }

        $(this).parents('tr').remove();
    });

    $('.btn-mail-course').click(function() {
        var id = $(this).data('course-id');

        $('#mail_modal_course_id').val(id);
        $('#mail_modal').modal();
    });

    $('.btn-participate-course').click(function(e) {
        var id = $(this).data('course-id');

        waitDialog.show();

        $.ajax('/courses/' + id + '/participants', {
            method: 'POST',
            data: {
                participant: current_user_id
            },
            success: function() {
                window.location = "/courses";
            },
            error: function() {
                waitDialog.hide();

                alert("failed to update course");
            }
        });
    });

    $('.btn-not-participate-course').click(function(e) {
        var id = $(this).data('course-id');

        waitDialog.show();

        $.ajax('/courses/' + id + '/participants', {
            method: 'DELETE',
            data: {
                participant: current_user_id
            },
            success: function() {
                window.location = "/courses";
            },
            error: function() {
                waitDialog.hide();

                alert("failed to update course");
            }
        });
    });

    $(function() {
        $('#mail_modal_text').wysihtml5();

        $("a.btn-show-course[href='']")
            .attr('disabled', true)
            .wrap($('<div title="no infolink set up" class="disable-wrapper" data-toggle="tooltip" data-placement="top" />'));

        $('.btn-mail-course[data-number-participants=0]')
            .attr('disabled', true)
            .wrap($('<div title="no participants yet" class="disable-wrapper" data-toggle="tooltip" data-placement="top" />'));


        $('[data-toggle="tooltip"]').tooltip({container: 'body'});
    });
</script>

<% include partials/script_create_curse_modal %>


<%- contentFor('style') %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="bower_components/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.css">
<link rel="stylesheet" href="bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.css">

<style>
    .disable-wrapper {
        margin-left:-1px;
        display: inline-block;
        position: relative;
        float: left;
    }
</style>