
<%- contentFor('title') %>

<h1><span class="fa fa-pencil-square-o"></span> Teachable</h1>


<%- contentFor('body') %>

<p><%=_('Welcome to Teachable')%></p>


<%- contentFor('style') %>

<style>
</style>

<%- contentFor('script') %>
